<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Список жанров</title>
		<link rel="stylesheet" href="/style.css">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	</head>
	<body>
		<header>
			<img src="/favicon.svg">
			{{.Domain}}
		</header>
		<main>
			<h1>Список жанров</h1>
			<ul id="genres-list">
				<li><a href="/player?top100=1">TOP 100</a></li>{{range .Genres}}
				<li><a href="/player?genre={{.Code}}">{{.Name}}</a></li>{{end}}
			</ul>
		</main>
	</body>
</html>
